:root {
	--text: #fff;
	--background: #1b1c1d;
	--box-background: #1d1f27;
	--accent: #a4b3e4;
	--background-accent: #333152;
	font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
}
body {
	background-color: var(--background);
	color: var(--text);
	margin: 0;
}
a {
	color: var(--accent);
	text-decoration: none;
}
a:hover {
	text-decoration: underline;
}
#header {
	vertical-align: middle;
	border-bottom: 1px solid var(--background-accent);
	padding: 1em;
	align-content: center;
	height: 3em;
}
#header > * {
	display: inline-block;
}
#header-buttons {
	list-style-type: none;
	margin: 0;
	padding: 0;
	vertical-align: middle;
}
#header-buttons > li {
	display: inline-block;
	margin: 0 0.1em;
}
#header-buttons > li > a {
	display: inline-block;
	background-color: var(--box-background);
	height: 1.5em;
	padding: 0.5em 2em;
	align-content: center;
}
#header-branding {
	all: unset;
	cursor: pointer;
	margin: 0 2em;
	color: var(--text);
}
#header-branding > * {
	display: inline-block;
}
#header-branding > img {
	width: 2em;
	height: 2em;
	vertical-align: middle;
}
#header-branding > h3 {
	margin: 0;
}
#account {
	vertical-align: middle;
	height: 100%;
	height: 1.5em;
	padding: 0.5em;
}
#account > a > img {
	vertical-align: middle;
	width: 1.5em;
	height: 1.5em;
}
#header-right {
	float: right;
	vertical-align: middle;
}
#search {
	vertical-align: middle;
	background-color: var(--box-background);
	margin: auto;
}
#search-input {
	all: inherit;
	cursor: auto;
	padding: 0.2em;
}
#search-button {
	all: inherit;
	cursor: pointer;
	color: var(--accent);
}
#search-button > img {
	vertical-align: middle;
}
#footer {
	border-top: 1px solid var(--background-accent);
	height: 2em;
	padding: 1em;
	text-align: center;
}
#content {
	padding: 1em 0;
	max-width: 1000px;
	margin: auto;
}
.section-header {
	background-color: var(--box-background);
	margin: 0.25em;
	padding: 0.75em 2em;
}
.section-header > a {
	color: var(--text);
}
.scroller {
	margin: 0 1em;
	overflow-x: scroll;
	--fade-amount: 10em;
	mask-image: linear-gradient(
		to right,
		rgba(0, 0, 0, 0) 0,
		rgba(0, 0, 0, 1) var(--fade-amount),
		rgba(0, 0, 0, 1) calc(100% - var(--fade-amount)),
		rgba(0, 0, 0, 0) 100%
	);
}
hr {
	margin: 2em auto;
	width: 75%;
	color: var(--background-accent);
}
.scroller-inner {
	margin: 0 var(--fade-amount);
	width: max-content;
}
.movie-banner {
	width: 200px;
}
.graph-container {
	text-align: center;
}
.reviews {
	padding-left: 1em;
	margin-left: 1em;
	border-left: 1px solid var(--background-accent);
	list-style-type: none;
	width: fit-content;
	text-wrap: nowrap;
	max-width: 500px;
}
.review + .review {
	border-top: 1px solid var(--background-accent);
}
.review {
	padding: 1em 0;
}
.movie-banner-small {
	width: 100px;
}
.review-content {
	text-wrap: wrap;
	display: inline-block;
	vertical-align: top;
}
.move-name {
	margin: 0;
}
.review-score {
	color: transparent;
	text-shadow: 0 0 0 var(--accent);
}
