{% extends "base.html" %}
{% block main_content %}
    <section class="mn-sec">
        <div class="container">
            <div class="row">
                <div class="col-lg-9">
                    <div class="mn-vid-sc single_video">
                        <div class="vid-1">
                            <div class="vid-pr">
                                <img src="{{ MEDIA_URL }}{{ movie.image_link }}" alt="">
                                <!---->
                            </div><!--vid-pr end-->
                            <div class="vid-info">
                                <h3>{{ movie.name }}</h3>
                                <div class="info-pr">
                                    <span>{{ movie.num }} Views</span>
                                    <ul class="pr_links">
                                        <li>
                                            {% if not is_collect %}
                                                <a href="{{ url_for('user.collect', movie_id=movie.id) }}">
                                                    <button data-toggle="tooltip" data-placement="top" title="Collect"><i
                                                            class="icon-thumbs_up"></i></button>
                                                </a>
                                            {% else %}
                                                <a href="{{ url_for('user.decollect', movie_id=movie.id) }}">
                                                    <button data-toggle="tooltip" data-placement="top"
                                                            title="Cancel Collection"></button>
                                                    <i class="icon-thumbs_up_fill"></i></a>
                                            {% endif %}


                                            <span>{{ movie.collect|length }}</span>
                                        </li>

                                    </ul>
                                    <div class="clearfix"></div>
                                </div><!--info-pr end-->
                            </div><!--vid-info end-->
                        </div><!--vid-1 end-->

                        <div class="abt-mk">
                            <div class="info-pr-sec">
                                <div class="vcp_inf cr">
                                    <div class="vc_hd">
                                        <h4>Details:</h4>
                                    </div>
                                </div><!--vcp_inf end-->

                                <!--								<div class="clearfix"></div>-->
                            </div>
                            <div class="clearfix"></div>
                            <div class="about-ch-sec">
                                <div class="abt-rw">
                                    <h4>Release Date:</h4>
                                    <p> {{ movie.years }} </p>
                                </div>

                                <div class="abt-rw">
                                    <h4>Tags:</h4>
                                    <ul>
                                        {% for tag in movie.tags %}
                                            <li><span>{{ tag.name }}</span></li>
                                        {% endfor %}
                                    </ul>
                                </div>

                                <div class="abt-rw">
                                    <h4>Director: </h4>
                                    <p> {{ movie.director }} </p>
                                </div>

                                <div class="abt-rw">
                                    <h4>Lead Actors: </h4>
                                    <ul>
                                        <li><span>{{ movie.leader[:30] }}...</span></li>
                                    </ul>
                                </div>

                                <div class="abt-rw">
                                    <h4>Introduction: </h4>
                                    <p> {{ movie.intro }} </p>
                                </div>
                                <div class="abt-rw">
                                    {% if user_rate is not none %}
                                        <h4>Rating: {{ user_rate.mark }}</h4>
                                    {% else %}
                                        <h4>Add Rating</h4>
                                        {% if user %}
                                        <div class="row">
                                        <div class="col-6">
                                            <form action="{{ url_for('user.rate_movie', movie_id=movie.id) }}" method="post">
                                                <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
                                                <select name="mark" class="custom-select" style="width: auto">
                                                    <option>1.0</option>
                                                    <option>2.0</option>
                                                    <option>3.0</option>
                                                    <option>4.0</option>
                                                    <option>5.0</option>
                                                </select>
                                                <button class="btn" type="submit">Submit</button>
                                            </form>
                                        </div>
                                        <div class="col-6">
                                            <a class="btn btn-block btn-dark" target="_blank" href="{{ movie.douban_link }}">View</a>
                                        </div>
                                        </div>
                                        {% else %}
                                        <p>Please <a href="{{ url_for('auth.login') }}">login</a> to rate</p>
                                        <div class="col-6">
                                            <a class="btn btn-block btn-dark" target="_blank" href="{{ movie.douban_link }}">View on Douban</a>
                                        </div>
                                        {% endif %}
                                    {% endif %}


                                </div><!--about-ch-sec end-->
                            </div><!--abt-mk end-->

                            <div class="cmt-bx">
                                <ul class="cmt-pr">
                                    <li><span>{{ comments|length }} </span> Comments</li>
                                </ul>
                                <div class="clearfix"></div>
                                <div class="clearfix"></div>
                                <div class="vcp_inf pc">
                                    <div class="vc_hd">
                                        {% if user %}
                                        <img src="{{ user.email|gravatar(size=60) }}" alt="">
                                        {% else %}
                                        <img src="https://www.gravatar.com/avatar/00000000000000000000000000000000?d=mp&s=60" alt="">
                                        {% endif %}
                                    </div>
                                    {% if user %}
                                    <form role="form" action="{{ url_for('user.make_comment', movie_id=movie.id) }}" method="post">
                                        <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
                                        <input type="text" name="content" placeholder="Leave a comment">
                                        <button type="submit">Submit</button>
                                    </form>
                                    {% else %}
                                    <p>Please <a href="{{ url_for('auth.login') }}">login</a> to comment</p>
                                    {% endif %}
                                    <div class="clearfix"></div>
                                    <div class="rt-cmt">
                                        <a href="#" title="">
                                            <i class="icon-cancel"></i>
                                        </a>
                                        <div class="clearfix"></div>
                                    </div><!--vcp_inf end-->
                                </div><!--cmt-bx end-->

                                <ul class="cmn-lst">
                                    {% for i in comments %}
                                        <li>
                                            <div class="vcp_inf">
                                                <div class="vc_hd">
                                                    {% if i.user %}
                                                    <img src="{{ i.user.email|gravatar(size=60) }}"
                                                         alt="">
                                                    {% else %}
                                                    <img src="https://www.gravatar.com/avatar/00000000000000000000000000000000?d=mp&s=60" alt="">
                                                    {% endif %}
                                                </div>

                                                <div class="coments">
                                                    <div class="pinned-comment">
                                                        <!--												<span><i class="icon-pinned"></i>用户1</span>-->
                                                    </div>
                                                    <h2>{{ i.user.username }} <small
                                                            class="posted_dt"> {{ i.create_time }} </small></h2>
                                                    <p>{{ i.content }}</p>
                                                    <ul class="cmn-i">
                                                        <li>
                                                            <a href="{{ url_for('user.like_comment', comment_id=i.id, movie_id=movie.id) }}" title="">
                                                                <i class="icon-thumbs_up" title="Like"></i>
                                                            </a>
                                                            <span>{{ i.likes.count() }}</span>
                                                        </li>

                                                    </ul>

                                                </div><!--coments end-->
                                            </div><!--vcp_inf end-->
                                        </li>
                                    {% endfor %}

                                </ul><!--comment list end-->
                            </div>
                            <h1 style="font-size: 2.5em; margin: 25px" align="center">Douban Word Cloud</h1>
                            <img align="center" class="img-responsive img-rounded" src="{{ MEDIA_URL }}/comment/{{ movie.douban_id }}.jpg" alt="Comment does not exist">

                        </div><!--mn-vid-sc end--->
                    </div><!---col-lg-9 end-->
                </div>
                <div class="col-lg-3">
                    <div class="sidebar">
                        <div class="vidz-prt">
                            <h2 class="sm-vidz" onclick="get_item_recommend();">Item-based Recommendation</h2>

                            <div class="clearfix"></div>
                        </div><!--vidz-prt end-->
                        <div class="videoo-list-ab" id="item-recommend">
                            {% for movie in user_recommend_list %}
                                <div class="videoo">
                                    <div class="vid_thumbainl">
                                        <a href="{{ url_for('movie.movie_detail', movie_id=movie.id) }}" title="">
                                            <img src="{{ MEDIA_URL }}{{ movie.image_link }}" alt="">
                                            <span class="vid-time">Duration: 110:21</span>
                                            <span class="watch_later">
											<i class="icon-watch_later_fill"></i>
										</span>
                                        </a>
                                    </div><!--vid_thumbnail end-->
                                    <div class="video_info">
                                        <h3><a href="{{ url_for('movie.movie_detail', movie_id=movie.id) }}" title="">{{ movie.name }}</a></h3>
                                        <h4><a title="">Tags: {% for tag in movie.tags %}
                                            {{ tag.name }}{% if not loop.last %}, {% endif %}
                                        {% endfor %}</a> <span class="verify_ic"></span></h4>
                                        <span>{{ movie.collect|length }} Likes<small
                                                class="posted_dt">Release Date: {{ movie.years }}</small></span>
                                    </div>
                                </div><!--videoo end-->
                            {% endfor %}


                        </div><!--videoo-list-ab end-->
                    </div><!--side-bar end-->
                </div>
            </div>
        </div>

    </section><!--mn-sec end-->
{% endblock %}

{% block bottom_js %}
    <script>
        function get_item_recommend() {
            $.ajax({
                url: '/ajax/item_recommend',
                type: 'GET',
                dataType: 'json',
                success: function (result) {
                    var html = "";
                    var array_length = result.length;
                    for (var i = 0; i < array_length; i++) {
                        html +=
                            `<div class="videoo">\n<div class="vid_thumbainl">\n` +
                            `<a href="/movie/${result[i].id}" title="">\n` +
                            `<img src="/media/${result[i].image_link}" alt="">\n <span class="vid-time">Duration: 110:21</span><\a>\n` +
                            `\n</div><div class="video_info">\n<h3><a href="/movie/${result[i].id}" title="">${result[i].name}</a></h3>\n` +
                            `<h4><a title="">Tags: ${result[i].tags_display || result[i].tags}</a> <span class="verify_ic"></span></h4>\n` +
                            `<span>${result[i].collect_count} Likes<small class="posted_dt">Release Date: ${result[i].years}</small></span>\n` +
                            `</div></div>\n`
                        ;
                    }
                    $('#item-recommend').html(html);
                },
                error: function (jqXHR, exception) {
                    console.log(jqXHR.status);
                    console.log(exception);
                }
            });
        }

        get_item_recommend();
    </script>
{% endblock %}
