{% extends "base.html" %}
{% block main_content %}
	<section class="browse_categories_sec">
		<div class="container">

			<div class="browse_cat_lists">
				<h3>Movie Categories</h3>
                {% for tag in tags %}
				<ul>
					<li><span>{{ tag.name }}</span></li>
				</ul>
				{% endfor %}
				<div class="clearfix"></div>
			</div><!--browse_cat_lists end-->

		</div>

        <div class="ch-pswd">
			<button style="display:block;margin:0 auto">Submit</button>
		</div><!--ch-pswd end-->
	</section><!--browse-sec end-->
{% endblock %}
{% block bottom-js %}
    <script>
        var items = [];
        $('span').each(function (index) {
            let toggle = false;
            $(this).on('click', function () {
                console.log(toggle);
                toggle = !toggle;
                if (toggle === true) {
                    items.push($(this).text());
                    $(this).addClass('click');

                } else
                // Remove element
                {
                    console.log("false");
                    items.splice(items.indexOf($(this).text()), 1);
                    $(this).removeClass('click');
                }
                console.log(items);
            });
        });
        $('button').click(function () {
            $.ajax({
                url: '/choose_tags/',
                type: 'POST',
                contentType: 'application/json; charset=utf-8',
                data: JSON.stringify(items),
                // Return data type
                dataType: 'html',
                success: function (result) {
                    alert("Your personalized tags have been created!");
                    var newDoc = document.open("text/html", "replace");
                    newDoc.write(result);
                    newDoc.close();
                    // $(html).html(result);
                },
                fail: function (xhr, textStatus, errorThrown) {
                    alert('request failed');
                },
                error: function (jqXHR, exception) {
                    console.log(jqXHR.status);
                    console.log(exception);
                }
            });
        })
</script>
{%  endblock %}
