{% extends "base.html" %}
{% block main_content %}
	<section class="banner-section p120">
		<div class="container">
			<div class="banner-text">
				<h2>Register to Open the Door to a New World</h2>
			</div><!--banner-text end-->
		</div>
	</section><!--banner-section end-->

	<section class="form_popup">
		
		<div class="signup_form" id="signup_form">

			<div class="user-account-pr">
				<form action="{% url 'register' %}" method='POST'>
                    {% csrf_token %}
                    {% for field in form %}
					<div class="input-sec mgb25">
						{{ field.errors }}
                        {{ field }}
					</div>
                    {% endfor %}
					<div class="input-sec mb-0">
						<button type="submit">Register</button>
					</div><!--input-sec end-->
				</form>
			</div><!--user-account end--->
			<div class="fr-ps">
				<h1>Already have an account?<a href="{% url 'login' %}" title="" class="show_signup"> Login</a></h1>
			</div><!--fr-ps end-->
		</div><!--login end--->

	</section><!--form_popup end-->
{% endblock %}