{% extends 'base.html' %}
{% block main_content %}
<section class="user-account">
    <div class="container">
        <div class="row">
            <div class="col-lg-3">
                <div class="sidebar">
                    <div class="widget video_info pr sp">
								<span class="vc_hd">
									<img src="{{ user.email|gravatar(size=60) }}" alt="">
								</span>
                        <h4>Welcome, {{ session.get('name') }}!</h4>
                    </div><!--video_info pr-->
                    <div class="widget notifications">
                        <h2 class="hd-uc"><i class="icon-notification"></i><a href="{{ url_for('user.my_rate') }}">My Ratings</a></h2>
                    </div><!--notifications end-->
                    <div class="widget donation">
                        <h2 class="hd-uc"><i class="icon-donations"></i><a href="{{ url_for('user.my_comments') }}">My Comments</a></h2>
                    </div><!--donation end-->
                    <div class="widget chanel-pro">
                        <h2 class="hd-uc"><i class="icon-preferences"></i><a href="{{ url_for('user.mycollect') }}">My Collection</a></h2>
                    </div><!--chanel-pro end-->

                </div><!--sidebar end-->
            </div>
            {% block personal %}
            {% endblock %}
        </div>
    </div>
</section><!--user-account end-->
{% endblock %}

