<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    
    <title>{% block title %}Movie Recommender{% endblock %}</title>

    <!-- Main stylesheet -->
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}" />

    <!-- Optional additional head content -->
    {% block extra_head %}{% endblock %}
</head>
<body>
    <header id="header">
        <a href="{{ url_for('index') }}" id="header-branding">
            <img alt="logo" src="{{ url_for('static', filename='images/logo.png') }}" />
            <h3>Sitename</h3>
        </a>
        <ul id="header-buttons">
            <li><a href="{{ url_for('movies') }}">Films</a></li>
            <li><a href="#">Lists</a></li>
            <li><a href="#">Members</a></li>
            <li><a href="{{ url_for('create_account') }}">Create account</a></li>
        </ul>
        <div id="header-right">
            <span id="search">
                <input type="search" id="search-input" />
                <button id="search-button">
                    <img alt="search" src="{{ url_for('static', filename='images/search.svg') }}" />
                </button>
            </span>
            <span id="account">
                {% if current_user.is_authenticated %}
                    <a href="{{ url_for('profile', username=current_user.username) }}">
                        <img alt="account" src="{{ url_for('static', filename='images/person.svg') }}" />
                        {{ current_user.username }}
                    </a>
                {% else %}
                    <a href="{{ url_for('login') }}">
                        <img alt="account" src="{{ url_for('static', filename='images/person.svg') }}" />
                        Login
                    </a>
                {% endif %}
            </span>
        </div>
    </header>

    <main id="content">
        {% block content %}
        <!-- This is where individual page content will be injected -->
        {% endblock %}
    </main>

    <footer id="footer">
        &copy; 2025 Sitename <br />
        <a href="#">About</a> | <a href="#">Contact</a>
    </footer>

    <!-- Main JavaScript file -->
    <script src="{{ url_for('static', filename='script.js') }}"></script>

    <!-- Optional additional JavaScript -->
    {% block scripts %}{% endblock %}
</body>
</html>
