alembic
blinker
click
dnspython
email_validator
exceptiongroup
Flask
Flask-Migrate
flask-paginate
Flask-SQLAlchemy
Flask-WTF
greenlet
idna
iniconfig
itsdangerous
Jinja2
Mako
MarkupSafe
numpy
packaging
pandas
pluggy
pytest
python-dateutil
python-dotenv
pytz
six
SQLAlchemy
tomli
typing_extensions
tzdata
Werkzeug
WTForms
