{% extends 'index.html' %}

{% block body %}
<h4>{{user.username}}'s profile</h4>
<p>more profile details here...</p>
<h5>Reviews</h5>
{% if reviews %}
<ul>
    {% for review in reviews %}
    <li>
        <p><strong><a href="{{url_for('movie_page', movie_id=review.movie.id)}}">{{ review.movie.title }}</a> ({{ review.movie.release_year }})</strong>, {{ review.rating }}/10</p>
        <p>{{ review.text }}</p>
    </li>
    {% endfor %}
</ul>
{% else %}
<p>{% if user == current_user %}You don't have any reviews yet{% else %}This user has no reviews yet{% endif %}.</p>
{% endif %}
<hr>
<h5>Friends</h5>
<ul>
    {% for friend in user.friends %}
    <li><a href="{{url_for('profile', username=friend.username)}}">{{ friend.username }}</a></li>
    {% endfor %}
</ul>
<script>
let notif_elem
document.addEventListener("DOMContentLoaded", () => notif_elem = document.getElementById("notif"))
// reload the page if operation was succesful (this could be replaced by dynamically updating page), otherwise display error message
async function onRes(res) { if (res.ok) location.reload(); else notif_elem.innerText = await res.text() }
</script>
{% if user != current_user %}
<hr>
{% if current_user in user.friends %}
<p>You and {{ user.username }} are friends</p>
<button type="button" onclick="fetch(`{{url_for('remove_friend', username=user.username)}}`, {method:'POST'}).then(onRes)">Remove friend</button>
{% elif current_user in user.friend_requests %}
<p>You've already sent {{ user.username }} a friend request</p>
<button type="button" onclick="fetch(`{{url_for('cancel_friend_request', username=user.username)}}`, {method:'POST'}).then(onRes)">Cancel friend request</button>
{% elif user in current_user.friend_requests %}
<p>{{ user.username }} has sent you a friend request</p>
<button type="button" onclick="fetch(`{{url_for('accept_friend_request', username=user.username)}}`, {method:'POST'}).then(onRes)">Accept friend request</button>
<button type="button" onclick="fetch(`{{url_for('deny_friend_request', username=user.username)}}`, {method:'POST'}).then(onRes)">Deny friend request</button>
{% else %}
<p>You and {{ user.username }} aren't friends</p>
<button type="button" onclick="fetch(`{{url_for('friend_request', username=user.username)}}`, {method:'POST'}).then(onRes)">Send friend request</button>
{% endif %}
<div id="notif"></div>
{% endif %}
{% endblock %}
