{% extends 'profile.html' %}
<!--  -->
{% block body %}
{{ super() }}
<hr>
<p>
    <h4>Profile settings</h4>
    <a href="{{url_for('logout')}}">Logout</a>
</p>
<hr>
<h5>Incomming friend requests</h5>
{% if user.friend_requests %}
<ul>
    {% for other_user in user.friend_requests %}
    <li>
        <a href="{{url_for('profile', username=user.username)}}">{{ other_user.username }}</a>
        <button type="button" onclick="fetch(`{{url_for('accept_friend_request', username=other_user.username)}}`, {method:'POST'}).then(onRes)">Accept friend request</button>
        <button type="button" onclick="fetch(`{{url_for('deny_friend_request', username=other_user.username)}}`, {method:'POST'}).then(onRes)">Deny friend request</button>
    </li>
    {% endfor %}
    {% else %}
</ul>
<p>You have no pending friend requests.</p>
{% endif %}
<div id="notif"></div>
{% endblock %}
